<div class="manager-container">
    <h2>Manager Page</h2>
    <div *ngIf="errorMessage" class="error-box">
        {{ errorMessage }}
      </div> 
    <mat-card class="user-form">
        <mat-card-title>Create User</mat-card-title>
        <mat-card-content>
          <form #userForm="ngForm" (ngSubmit)="createUser()" novalidate>
            <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput [(ngModel)]="userName" name="userName"
                          required pattern="^[a-zA-Z0-9\s]+$"
                          #userNameModel="ngModel"
                          [ngModelOptions]="{ updateOn: 'blur' }">
                    <mat-error *ngIf="userNameModel.invalid && userNameModel.touched">
                        Only letters, numbers, and spaces are allowed.
                    </mat-error>
                </mat-form-field>     
                <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
                    Create
                </button>
            </div>
        </form>
        </mat-card-content>
    </mat-card>
      
    <mat-card class="appointments-table">
      <mat-card-title>User Appointments</mat-card-title>
      <mat-card-content>
        <table mat-table [dataSource]="appointments" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                <td mat-cell *matCellDef="let appointment"> {{ appointment.userName }} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let appointment"> {{ appointment.description }} </td>
            </ng-container>
          
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
              <td mat-cell *matCellDef="let appointment"> {{ formatDate(appointment.date) }} </td>
            </ng-container>
          
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let appointment"> {{getStatusText(appointment.status)}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let appointment">
                <button mat-icon-button color="primary" (click)="approveAppointment(appointment)" [disabled]="appointment.status === 2">
                  <mat-icon>check_circle</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="cancelAppointment(appointment)" [disabled]="appointment.status === 2">
                  <mat-icon>cancel</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="deleteAppointment(appointment)" [disabled]="appointment.status !== 2">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>          
      </mat-card-content>
    </mat-card>
  </div>